# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Environments
.venv/
env/
venv/
.venv1/

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# Others
.DS_Store
/docs/ProjetoFinalKeyWords.txt
#/datasets/
#/saved_models
#api_keys.py
logs.txt
